body
{
  margin:0;
  padding: 0;
}
.MainPage,.ServicesPage,.ProcessPage,.Aboutsoftware,.benefitsPage
{
  margin-top:4%;
}

.Mainrow
{
  margin-top:10%;
}
.Mainrow .para1
{
    margin-top: 15px; 
}
.button {
  background-color:var(--primary); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  border-radius: 25px;
  font-size: 16px;
  padding: 14px 40px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 15px;
}
/*servicespge starts*/
/*ServicesPage start*/
.card-outer{
  position: relative;
  padding:10px;
}
.card-makk,.ServicesPage,.card-makk1{
  width: 100%;
  background: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.flips__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 911px){
  .flip-card {
      max-width: 12.14286rem;
      min-height: 19.28571rem;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      background-color: transparent;
  }
}
.flip-card {
  width: 100%;
}

@media (min-width: 911px){
  .flip-card__inner {
      max-width: 12.14286rem;
      min-height: 19.28571rem;
  }
}
.flip-card__inner {
    position: relative;
    width: 100%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width: 911px){
  .flip-card__front {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.78571rem 1.42857rem 3.57143rem;
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      z-index: 2;
  }
}
@media (min-width: 911px){
  .flip-card__back, .flip-card__front {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
  }
}
.flip-card__back, .flip-card__front {
    border-radius: 2.14286rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0.5rem 2.85714rem rgba(0,0,0,.1);
    box-shadow: 0 0.5rem 2.85714rem rgba(0,0,0,.1);
}
@media (min-width: 911px){
  .flip-card__back {
      top: -30px;
      left: -25px;
      width: calc(100% + 50px);
      min-height: calc(100% + 60px);
      padding: 1.78571rem 1.42857rem;
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
  }
}
.flip-card__back-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flip-card__icon--colored i.web {
    background: url(../images/web-color.svg) no-repeat;
}



@media (min-width: 911px){
  .flip-card__number {
      font-size: 2.14286rem;
      line-height: 50px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }
}
.flip-card__number {
    position: absolute;
    top: 1.57143rem;
    left: 50%;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    color: #fff;
}
.flip-card__back .flip-card__title {
    margin-left: 1.78571rem;
    line-height: 2.07143rem;
}

.flip-card__title {
    padding-bottom: 0;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 1.14286rem;
    line-height: 1.2;
    text-transform: capitalize;
    line-height: 2.07143rem;
}

@media (min-width: 911px){
  .flip-card__box {
      width: 5.35714rem;
      top: -20px;
  }
}

.flip-card__box--left {
    left: 0;
    display: none;
}
.flip-card__box--right {
    right: 0;
}
.flip-card__box {
    position: absolute;
}
.flip-card__description {
    font-size: 13px;
    line-height: 23px;
    color: #9d9b9b;
    margin-top: 16px;
}
@media (min-width: 910px){
  .flip-card:hover .flip-card__inner {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
}
.ServicesPage
{
  background-color: #f4f4f4;
  padding-bottom: 12%;
}
.ServicesPage .contentpage
{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-left:6%;
}

@media only screen and (min-width: 991px){
  .card-makk1{
    position: absolute;
    margin-top: 30%;
  }
}
.card-makk i,.card-makk1 i{
  font-size: 2.4rem;
  color: #fb8692;
  text-align: center;
}
.card-makk h6,.card-makk1 h6{
  margin-top: 17px;
  font-weight: 700;
  font-size: 1.3rem;
}
.flip-card p,.card-makk1 p{
  margin-top: 14px;
  text-align: left;
}
/*ServicesPage End*/
.line
{
  margin-top: 5px;
  margin-right: 7px;
  width:35%;
  height:5px;
  display: block;
  border-radius: 25px;
  background-color:var(--primary) ;
}
.circle
{
  width:70px;
  height:70px;
  background-color:#012b7dba;
  color:white;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle p
{
  font-weight:800;
  font-size: 40px;
  text-align: center;
}
/*ProcessPage starts*/
.innerprocess 
{
   margin-bottom: 3%;
}
.processimage
{
  width:100%;
/*  border-radius:44% 56% 80% 20% / 35% 36% 64% 65%;*/
  border-radius: 43% 57% 66% 34% / 31% 34% 66% 69% ;
  background-color: #012b7da8;
}
/*processpage ends*/
/*benefitpage start*/
.benefitsPage
{
  background-color: #f7f7f7;
}
.outerdiv
{
  padding:14px;
}
.innerdiv
{
  border-radius: 25px;
  padding:20px 20px 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.3rem;
  text-align: left;
  box-sizing: border-box;
}
.innerdiv .para2
{
  margin-top:15px;
}
/*benefitpage ends*/
/*about crux starts*/
.Aboutsoftware
{
  padding-bottom: 4%;
  padding-top: 4%;
}
.innerabout
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 20px;
}
/*about crux ends*/
/*footer starts*/
.footer
{
  padding:40px;
  color:black;
}

.icons
{
    display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;    
}
.icons i
{
  margin:0px 15px;
      width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    background: white;
    color: black;
    border-radius: 50%;

}
.outerfooter
{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.outerfooter1
{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.innerfooter
{
    display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
justify-content:center;   
flex-direction: column; 
}
.footerproducts
{
  padding-left:35px;
}
@media screen and (max-width:991px)
{
   .footerproducts
   {
      padding:0;
   }
}
@media screen and (max-width:576px)
{
   .icons
   {
      display: block;
   }
}
/* --- Start progress bar --- */

.process-wrapper {
  margin:auto;
  max-width:1080px;
  padding-top: 2%;
}

#progress-bar-container {
  position:relative;
  width:90%;
  margin:auto;
  height:100px;
  margin-top:65px;
}

#progress-bar-container ul {
  padding:0;
  margin:0;
  padding-top:15px;
  z-index:9999;
  position:absolute;
  width:100%;
  margin-top:-40px
}

/*#progress-bar-container li:before {
  content:" ";
  display:block;
  margin:auto;
  width:30px;
  height:30px;
  border-radius:50%;
  border:solid 2px #aaa;
  transition:all ease 0.3s;
     
}*/

/*#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
  border:solid 2px #fff;
         
  background: linear-gradient(to right, #012b7d 0%,#fff 100%); 
}*/

#progress-bar-container li {
  list-style:none;
  float:left;
  width:20%;
  text-align:center;
  color:#aaa;
  text-transform:uppercase;
  font-size:11px;
  cursor:pointer;
  font-weight:700;
  transition:all ease 0.2s;
  vertical-align:bottom;
  height:60px;
  position:relative;
}

#progress-bar-container li .step-inner {
  position:absolute;
  width:100%;
  bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
  color:#444;
}

#progress-bar-container li:after {
  content:" ";
  display:block;
  width:20px;
  height:20px;
  background:#777;
  margin:auto;
  border:solid 7px #fff;
  border-radius:50%;
  margin-top:73px;
  box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
  transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
  background:#555;
}

#progress-bar-container li.active:after {
  background:#207893;
}
#progress-bar-container li span{
  opacity: 0;
  position: absolute;
  display: block;
  left: 50%;
  top: 200%;
  width: 100%;
  transition: .5 ease;
}
#progress-bar-container li span.active{
  opacity: 1;
}
#progress-bar-container li.active:after{
  display: block;
}
#progress-bar-container #line {
  width:80%;
  margin:auto;
  background: #eee;
  height:6px;
  position:absolute;
  left:10%;
  top:57px;
  z-index:1;
  border-radius:50px;
  transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
  content:" ";
  width:3%;
  height:100%;
  background: #207893;   
  background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
  position:absolute;
  z-index:2;
  border-radius:50px;
  transition:all ease 0.9s;
}

#progress-content-section {
  width:90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
}

#progress-content-section .section-content {
  padding:30px 40px;
  text-align:center;
}

#progress-content-section .section-content h2 {
  font-size:17px;
  text-transform:uppercase;
  color:#333;
  letter-spacing:1px;
}

#progress-content-section .section-content p {
  font-size:16px;
  line-height:1.8em;
  color:#777;
}

#progress-content-section .section-content {
  display:none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode:forwards;
  transform:translateY(15px);
  opacity:0;
}

#progress-content-section .section-content.active {
  display:block;
}

@keyframes FadeInUp {
  0% {
    transform:translateY(15px);
    opacity:0;
  }
  
  100% {
    transform:translateY(0px);
    opacity:1;
  }
}

.endingpolicies
{
  width:100%;
  height:auto;
  background-color: #262626;
  color:white;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
}
.endingpolicies *{
  font-size: 12px;
}
.conntecteddiv
{
  background-color: var(--primary);
  color:white;
  padding:10px 20px;
}